# 忽略PDF文件夹
pdfs/
# 忽视macOS系统解压zip的文件自动生成的隐藏文件夹
__MACOSX
# 忽视jupyter的检查点文件夹
**/.ipynb_checkpoints
**/__pycache__
# 忽视配置文件
.obsidian
.idea
.cursorignore
**/config.json

# 特殊文件夹
shudlrn/
aiama/
todo/
*/todo
# homework_3里面的学习文件
homework_3/html_learn
# homework_3里面的第一次下载的csv文件
homework_3/original
# homework_6里面的学习文件
homework_6/selflrn

# final-asssignment 里面的文件
*/maybeuseful/
final-asssignment/NeteaseMusicCrawler/config.json
final-asssignment/NeteaseMusicCrawler/othercrawler/
*/useless
