# 忽略所有PDF文件
*.pdf
# 忽视macOS系统解压zip的文件自动生成的隐藏文件夹
__MACOSX
# 忽视jupyter的检查点文件夹
**/.ipynb_checkpoints
# 忽视作业任务todo
todo
# 忽视obsidian的配置文件
.obsidian
# 忽略json配置文件
**/config.json

# 忽视homework_3里面的学习文件
homework_3/html_learn
# 忽视homework_3里面的第一次下载的csv文件
homework_3/original

# 忽视homework_6里面的学习文件
homework_6/selflrn

shudlrn
